## Assess and Wrangle Flights Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('airline_delay_causes_jan10_mar18.csv')
df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2010,1,9E,Pinnacle Airlines Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",65.0,16.0,5.44,0.00,...,0.0,0.00,1.0,0.0,765.0,440.0,0.0,325.0,0.0,0.0
1,2010,1,9E,Pinnacle Airlines Inc.,AEX,"Alexandria, LA: Alexandria International",60.0,17.0,4.81,0.49,...,0.0,3.81,4.0,0.0,1029.0,297.0,99.0,335.0,0.0,298.0
2,2010,1,9E,Pinnacle Airlines Inc.,ALB,"Albany, NY: Albany International",81.0,34.0,9.73,1.42,...,0.0,3.28,1.0,1.0,1535.0,533.0,77.0,700.0,0.0,225.0
3,2010,1,9E,Pinnacle Airlines Inc.,ALO,"Waterloo, IA: Waterloo Regional",3.0,1.0,0.00,0.00,...,0.0,0.00,0.0,0.0,16.0,0.0,0.0,16.0,0.0,0.0
4,2010,1,9E,Pinnacle Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",1067.0,271.0,42.76,9.40,...,0.0,62.78,46.0,4.0,15932.0,4225.0,1098.0,6092.0,0.0,4517.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120840 entries, 0 to 120839
Data columns (total 21 columns):
year                   120840 non-null int64
month                  120840 non-null int64
carrier                120840 non-null object
carrier_name           120840 non-null object
airport                120840 non-null object
airport_name           120840 non-null object
arr_flights            120704 non-null float64
arr_del15              120679 non-null float64
carrier_ct             120704 non-null float64
weather_ct             120704 non-null float64
nas_ct                 120704 non-null float64
security_ct            120704 non-null float64
late_aircraft_ct       120704 non-null float64
arr_cancelled          120704 non-null float64
arr_diverted           120704 non-null float64
arr_delay              120704 non-null float64
carrier_delay          120704 non-null float64
weather_delay          120704 non-null float64
nas_delay              120704 non-null float64
security_delay         120704 non-null float64
late_aircraft_delay    120704 non-null float64
dtypes: float64(15), int64(2), object(4)
memory usage: 19.4+ MB

In [11]:
# create a day column and assign the value 1 to the entire column
df['day'] = 1
# create a date column from the year, month, and day columns
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])
# drop the year, month, and day columns
df.drop(columns=['year', 'month', 'day'], inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120840 entries, 0 to 120839
Data columns (total 20 columns):
carrier                120840 non-null object
carrier_name           120840 non-null object
airport                120840 non-null object
airport_name           120840 non-null object
arr_flights            120704 non-null float64
arr_del15              120679 non-null float64
carrier_ct             120704 non-null float64
weather_ct             120704 non-null float64
nas_ct                 120704 non-null float64
security_ct            120704 non-null float64
late_aircraft_ct       120704 non-null float64
arr_cancelled          120704 non-null float64
arr_diverted           120704 non-null float64
arr_delay              120704 non-null float64
carrier_delay          120704 non-null float64
weather_delay          120704 non-null float64
nas_delay              120704 non-null float64
security_delay         120704 non-null float64
late_aircraft_delay    120704 non-null float64
date                   120840 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(15), object(4)
memory usage: 18.4+ MB

In [16]:
# save the dataframe to an xlsx file
df.to_excel('airline_delay_jan10_mar18_master.xlsx', index=False)

## References
- Create datetime from multiple date columns: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html
- Save dataframes to xlsx files: http://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.DataFrame.to_excel.html